SchedulerApp-war/web/WEB-INF/wsdl/JobInfoWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://ws_classes.schedulerapp.com/" name="JobInfoWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws_classes.schedulerapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws_classes.schedulerapp.com/" schemaLocation="JobInfoWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Active">
    <part name="parameters" element="tns:Active"/>
  </message>
  <message name="ActiveResponse">
    <part name="parameters" element="tns:ActiveResponse"/>
  </message>
  <message name="JSONException">
    <part name="fault" element="tns:JSONException"/>
  </message>
  <message name="Details">
    <part name="parameters" element="tns:Details"/>
  </message>
  <message name="DetailsResponse">
    <part name="parameters" element="tns:DetailsResponse"/>
  </message>
  <message name="Inactive">
    <part name="parameters" element="tns:Inactive"/>
  </message>
  <message name="InactiveResponse">
    <part name="parameters" element="tns:InactiveResponse"/>
  </message>
  <message name="Test_Run">
    <part name="parameters" element="tns:Test_Run"/>
  </message>
  <message name="Test_RunResponse">
    <part name="parameters" element="tns:Test_RunResponse"/>
  </message>
  <message name="UpdateActiveJob">
    <part name="parameters" element="tns:UpdateActiveJob"/>
  </message>
  <message name="UpdateActiveJobResponse">
    <part name="parameters" element="tns:UpdateActiveJobResponse"/>
  </message>
  <portType name="JobInfoWebService">
    <operation name="Active">
      <input wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/ActiveRequest" message="tns:Active"/>
      <output wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/ActiveResponse" message="tns:ActiveResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Active/Fault/JSONException"/>
    </operation>
    <operation name="Details">
      <input wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/DetailsRequest" message="tns:Details"/>
      <output wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/DetailsResponse" message="tns:DetailsResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Details/Fault/JSONException"/>
    </operation>
    <operation name="Inactive">
      <input wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/InactiveRequest" message="tns:Inactive"/>
      <output wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/InactiveResponse" message="tns:InactiveResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Inactive/Fault/JSONException"/>
    </operation>
    <operation name="Test_Run">
      <input wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Test_RunRequest" message="tns:Test_Run"/>
      <output wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Test_RunResponse" message="tns:Test_RunResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/Test_Run/Fault/JSONException"/>
    </operation>
    <operation name="UpdateActiveJob">
      <input wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/UpdateActiveJobRequest" message="tns:UpdateActiveJob"/>
      <output wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/UpdateActiveJobResponse" message="tns:UpdateActiveJobResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://ws_classes.schedulerapp.com/JobInfoWebService/UpdateActiveJob/Fault/JSONException"/>
    </operation>
  </portType>
  <binding name="JobInfoWebServicePortBinding" type="tns:JobInfoWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Active">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
    </operation>
    <operation name="Details">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
    </operation>
    <operation name="Inactive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
    </operation>
    <operation name="Test_Run">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
    </operation>
    <operation name="UpdateActiveJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="JobInfoWebService">
    <port name="JobInfoWebServicePort" binding="tns:JobInfoWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

